@charset "utf-8";
/* CSS Document */
html{ height: 100%; overflow-y: scroll; }

body{
    margin:0;
    padding:0;
    font-size:18px;
    background-image:url(../img/bg.jpg);
    background-position: bottom center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-color: #ffffff !important;
}

#message{
    padding: 5px;
    margin-top:10px;
    font-size:0.8em;
}
.fail{
    border:1px solid #cc0000;
}
.success{
    border:1px solid #00cc00;
}

#questions{ background-color: rgba(0,0,0,.075); }
#ques_count{ display:inline-block;}
.btnSpk{
    padding: 5px;
    font-size: 0.8em;
    width:125px; margin-right:3px;
}
#refProgress {
  width: 100%;
  background-color: grey;
  position:relative;
}

#refBar {
  width: 1%;
  height: 30px;
  background-color: green;
}

#timeleft{
    position:absolute;
    top:4px;
    right:10px;
    color:#ccc;
}
